# Node.js dependencies
node_modules

# Yarn Plug'n'Play (optional, remove if not used)
.pnp
.pnp.js

# Testing outputs
coverage

# Production build
build

# OS-specific files
.DS_Store

# Environment variable files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
